.icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 5%; 
    left: 1%;
}

.icon {
    font-size: 1em;
    margin-bottom: 1em;
    z-index: 2; 
    position: relative; 
    color: #b6cdd4;
}

.line-guide::before {
    content: "";
    position: absolute;
    top: 90%;
    bottom: -100%;
    left: 68%;
    border-left: 1px solid #b6cdd4;
}